body{
    background-color: rgba(68, 8, 50, 0.379);
     font-family:playfair display;
}
h1{
    color: aliceblue;
    font: size 20px;
    <u></u>
}
h2{ color: aliceblue;
}
p{ color: antiquewhite;
}
ul{color: antiquewhite;}
ol{color: antiquewhite;}

table, form{
    color: antiquewhite;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(207, 214, 101);
    border-width: 10px;
    width: 10%;
}
